@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meddon&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scroll::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 60px;
  background: white;
  animation: pathmove 4s ease-in-out infinite;
  opacity: 0;
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 150px;
    opacity: 0;
  }
}

/* slider slick */
.slider .slick-slide {
  transform: scale(0.8); /*左右の画像のサイズを80%に*/
  transition: all 0.5s; /*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 1; /*透過50%*/
}

.slider .slick-slide.slick-center {
  transform: scale(1); /*中央の画像のサイズだけ等倍に*/
  opacity: 1; /*透過なし*/
}

/* text animation */
@keyframes showTextFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0px);
  }
}

.textAnimation span {
  display: inline-block;
}

.textAnimation > span {
  overflow: hidden;
}

.textAnimation > span > span {
  animation: showTextFromBottom 1s backwards;
}

@layer base {
  body {
    @apply font-sans tracking-wider bg-bg text-wh select-none;
  }
  h1 {
    @apply font-meddon text-4xl sm:text-5xl md:text-7xl lg:text-8xl;
  }

  h2 {
    @apply text-3xl md:text-4xl lg:text-7xl;
  }
  h3 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }
  h4 {
    @apply text-base sm:text-xl md:text-2xl lg:text-3xl;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-xs md:text-sm;
  }
  p {
    @apply text-tiny;
  }
}

@layer components {
  .layout_h {
    @apply w-screen h-screen lg:h-950 sticky top-0 z-10 text-left 
    px-8 lg:pl-40 xl:pl-64 pt-100 pb-32
    pointer-events-none;
  }

  .layout_a {
    @apply bg-bg2 w-screen h-full relative z-10 text-left
    flex flex-col md:flex-row
    px-8 lg:pl-40 xl:pl-64  pt-16 pb-4 md:py-28 lg:py-40
    pointer-events-none;
  }

  .layout_wb {
    @apply bg-bg w-screen h-full relative z-10 text-left
    px-8 lg:pl-40 xl:pl-64 pt-28 pb-4 lg:py-40;
  }

  .line {
    @apply absolute bg-gy w-px h-14 md:h-20 lg:h-24;
  }

  .scroll {
    @apply absolute bg-gy w-px h-36;
  }

  .border_bottom {
    @apply border-b border-wh pb-1;
  }

  .nav {
    @apply text-gy z-30 text-tiny font-semibold py-2 tracking-widest2;
  }

  .history_date {
    @apply text-xs tracking-wider
    font-semibold text-gy;
  }

  .history_text {
    @apply text-xs lg:text-sm ml-4 py-2 lg:py-4;
  }
  .aboutImg {
    @apply absolute w-40 md:w-60 lg:w-64;
  }
  .work_right {
    @apply flex flex-col-reverse md:flex-row 
    my-10 md:my-32 
    overflow-hidden;
  }
  .work_left {
    @apply flex flex-col  md:flex-row 
     md:my-32 overflow-hidden;
  }
  .img_bg {
    @apply relative bg-wh
    w-64 h-64 md:w-72 md:h-72 
    lg:w-80 lg:h-80 xl:w-xl xl:h-lg;
  }
  .work_img {
    @apply absolute  
    top-18 lg:top-24 xl:top-20 
    left-6 lg:left-8 xl:left-12
    w-52 md:w-60 lg:w-64 xl:w-lg;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  }
  .img_wrapper {
    @apply relative right-0 left-0 
    m-auto md:m-0 text-center;
  }
  .work_name {
    @apply absolute font-bold 
    text-4xl lg:text-5xl xl:text-6xl
    top-40 md:top-52 lg:top-64 xl:top-80;
  }

  .top_arrow {
    @apply inline w-6;
  }

  .hamburger_menu {
    @apply w-screen h-screen absolute z-40 bg-wh bg-opacity-80
    -inset-x-0 text-center pt-40;
  }

  .hamburger_ul {
    @apply text-bl text-sm font-semibold py-2 tracking-widest2;
  }

  .menu_bar {
    @apply absolute z-50 cursor-pointer 
    bottom-0 -inset-x-0 mx-auto py-4 text-center
    tracking-widest2 text-tiny font-semibold;
  }
}
